## Simple CRUD (Create, Read, Update, Delete) System Using MySQL and Python

### Author: M. Shiqo Filla

In [3]:
import pandas as pd
import numpy as np
import mysql
import mysql.connector as sql
import pymysql 

import warnings
warnings.filterwarnings('ignore')

def create_data():
    npm = int(input("Masukkan NPM anda: "))
    nama = input("Masukkan nama anda: ")
    jurusan = input("Masukkan Jurusan anda: ")
    alamat = input("Masukkan alamat anda: ")

    new_conn = pymysql.connect(host = 'localhost',
                    user = 'root',
                    passwd = 'root',
                    db ='database_baru')
    
    cursor = new_conn.cursor()
    
    insert_query = "insert into data_mahasiswa (npm, nama, jurusan, alamat) values (%s, %s, %s, %s)"
    
    cursor.execute(insert_query, (npm, nama, jurusan, alamat))
    new_conn.commit()
    
    new_conn.close()
    
    print("\nData berhasil ditambahkan.")
    
    
def read_all_data():
    new_conn = pymysql.connect(host = 'localhost',
                    user = 'root',
                    passwd = 'root',
                    db ='database_baru')
    
    cursor = new_conn.cursor()
    
    data = pd.read_sql_query('select * from data_mahasiswa order by nama', new_conn)

    new_conn.close()
    print( data)


def update_data():
    new_conn = pymysql.connect(host = 'localhost',
                    user = 'root',
                    passwd = 'root',
                    db ='database_baru')
    
    cursor = new_conn.cursor()
    
    df = pd.read_sql_query('select npm from data_mahasiswa', new_conn)
    
    idd = int(input("Masukkan NPM anda: "))
    
    if not idd in list(df['npm']):
        print("NPM tersebut tidak ditemukan")
        return
    else:
        loc = int(input("Apa yang mau diubah? 1. NPM, 2. Nama, 3. Jurusan, 4. Alamat: "))
        new = input("Masukkan data pengganti: ")

        if loc == 1:
            cursor.execute("update data_mahasiswa set npm = %s where npm = %s", (int(new), idd))
        elif loc == 2:
            cursor.execute("update data_mahasiswa set nama = %s where npm = %s", (new, idd))
        elif loc == 3:
            cursor.execute("update data_mahasiswa set jurusan = %s where npm = %s", (new, idd))
        elif loc == 4:
            cursor.execute("update data_mahasiswa set alamat = %s where npm = %s", (new, idd))
        else:
            pesan = "Masukkan 1, 2, 3, atau 4 saja"
            return pesan
    
    new_conn.commit()
    new_conn.close()
    print("\nUpdate Berhasil")

def delete_data():
    new_conn = pymysql.connect(host = 'localhost',
                    user = 'root',
                    passwd = 'root',
                    db ='database_baru')
    
    cursor = new_conn.cursor()
    
    npm = int(input("Masukkan NPM mahasiswa yang ingin dihapus datanya: "))
    
    cursor.execute("delete from data_mahasiswa where npm = %s", (npm))
    new_conn.commit()
    new_conn.close()
    print( f"\nData mahasiswa dengan NPM = {npm} berhasil dihapus.")

def get_excel_data():
    new_conn = pymysql.connect(host = 'localhost',
                    user = 'root',
                    passwd = 'root',
                    db ='database_baru')
    
    cursor = new_conn.cursor()
    
    data = pd.read_sql_query('select * from data_mahasiswa order by nama', new_conn)

    data.to_excel(r'D:\Database\downloaded_data\data_mahasiswa.xlsx', index = False)
    
    print('Data berhasil diunduh')
    
def main_program():
    print(30*"=", "\nCRUD Database Mahasiswa")
    print(30*"=")
    ask = int(input("Mau apa? \n1. Create, \n2. Read, \n3. Update, \n4. Delete, \n5. Get Excel\nPilihan Anda: \n"))
    if ask == 1:
        create_data()
    elif ask == 2:
        read_all_data()
    elif ask == 3:
        update_data()
    elif ask == 4:
        delete_data()
    elif ask == 5:
        get_excel_data()
    else:
        print("pilih yang lain")
    
    def ask():
        ask2 = str(input("\nMau Lanjut lagi ga? y/n: "))
        if ask2 =='y':
            main_program()
        elif ask2 == 'n':
            print("terimakasih selesai")
        else:
            print("PILIH y ATAU n")
            ask()
    ask()